<md-content class="md-padding login">
    <!--<div higgidy-carousel='images' timeout="10000">
      <ul rn-carousel class="image">
        <li ng-repeat="image in images">
          <div class="layer">{{ image.src }}</div>
        </li>
      </ul>
    </div>-->
    <md-card class="login-card">
      <center>
        <img src="img/nu3_icon.png" class="md-card-image login-icon" alt="Nu3">
      </center>
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>

          <md-tab label="Login">
            <md-content class="md-padding">
              <h1 class="md-display-2">Login</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
          <md-tab label="Cadastrar">
            <md-content class="md-padding">
              <h1 class="md-display-2">Se cadastre!</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card-content>
      <md-card-footer>
        Sistema em desenvolvimento. Bugs são esperados xD
      </md-card-footer>
    </md-card>
</md-content>