<md-content class="md-padding login" ng-controller="LoginCtrl">
    <center>
        <img src="img/nu3_icon.png" class="md-card-image login-icon" alt="Nu3">
    </center>
    <md-card class="login-card">
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Login">
            <md-content class="md-padding">
              <form>
                
                <div class="list">
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon><i class="mdi mdi-email"></i></md-icon>
                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                  </md-input-container>
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon class="password"><i class="mdi mdi-lock"></i></md-icon>
                    <input ng-model="user.senha" type="password" placeholder="Password (required)" ng-required="true">
                  </md-input-container>
                  <label>
                    <md-button class="md-raised md-primary pull-right" type="submit" ng-click="login()">Logar</md-button>
                  </label>
                </div>
              </form>
              
            </md-content>
          </md-tab>
          <md-tab label="Cadastrar">
            <md-content class="md-padding">
              <form ng-submit="register()">
                <div class="card" ng-show="messageCad">
                  <div class="item item-text-wrap">
                    {{message}}
                  </div>
                </div>
                <div class="list">
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon><i class="mdi mdi-account"></i></md-icon>
                    <input ng-model="userC.name" type="text" placeholder="Name (required)" ng-required="true">
                  </md-input-container>
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon><i class="mdi mdi-email"></i></md-icon>
                    <input ng-model="userC.email" type="email" placeholder="Email (required)" ng-required="true">
                  </md-input-container>
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon class="password"><i class="mdi mdi-lock"></i></md-icon>
                    <input ng-model="userC.senha" type="password" placeholder="Password (required)" ng-required="true">
                  </md-input-container>
                  <md-input-container >
                    <!-- Use floating placeholder instead of label -->
                    <md-icon class="password"><i class="mdi mdi-lock-open"></i></md-icon>
                    <input ng-model="userC.senhaC" type="password" placeholder="Confirm Password (required)" ng-required="true">
                  </md-input-container>
                  <label>
                    <md-button class="md-raised md-primary pull-right">Cadastrar</md-button>
                  </label>
                </div>
              </form>
              
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card-content>
      <md-card-footer>
        Sistema em desenvolvimento. Bugs são esperados xD
      </md-card-footer>
    </md-card>
</md-content>